body{


 background-color: black;



}
.contenedor{
    background-image: url(../img/paisaje.jpg);
    background-size:cover;
    background-repeat:  no-repeat;
    padding-top: 60px;
}


.waves-effect{

 box-sizing: border-box;
 background-color: #0D47A1 !important;
 padding: 5px;
 margin: 20px;
}

.main-title{
  margin-top: 80px;
padding-left: 25px;
}
.logo-title{
  margin-bottom: 0px;
}
.logo-img {

      width: 250px;
      margin-bottom: -60px;
      border: 1px solid white;
      display: inline;
      border-radius: 20px;
      text-align: center;
      background: white;

}
#navbar{
  padding-top: 15px;
}


@media screen and ( max-width: 899px ){




.container {
  width: 100%;
}




}
@media only screen and (min-width: 900px) {
  .container {
    width: 85%;
  }



}
