body{


 background-color: black;



}
.container{
    background-image: url(../img/paisaje.jpeg);
    background-size:1480px 800px;
   background-repeat:  no-repeat;
   background-color: #33B8FF;
   background-position: 0 150px;

}

.header{
  margin-bottom: 0;
}

.responsive-img{
  margin-top: 10px;
border-radius: 5px;

}

.nav-extended{
  padding: 10px;
  background-color: RGBA( 205 , 216 ,220, 0  );

}

.waves-effect{

 box-sizing: border-box;
 background-color: blue;
 padding: 5px;
 margin: 20px;
}


@media screen and ( min-height: 320px ){

.nav-wrapper{
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}


.redes-sociales{
  padding: 10px;
}
.container {
  width: 100%;
}
}
@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
  #imagen{
    padding-left: 50px;
  }
}
